:root{
    --backgroundcolor: whitesmoke;
    --shadowcolor: rgb(220, 220, 220);
    --white: white;
    --gray: gray;
    --red: red;
    --primary-blue: #035FB2;
    --border-color: #ced4da;
}

.wrapper{
    height: 100vh;
    background-color:  var(--backgroundcolor);
}
.loginContent {
    width: 430px;
    margin-inline: auto;
    transform: translateY(-50%);
    margin-top: 50vh;
}

.form {
    padding: 40px 30px;
    border-radius: 2%;
    box-shadow: 2px 2px 2px var(--shadowcolor), -2px 2px 2px var(--shadowcolor);
    font-weight: 400;
    background-color: var(--white);
}

.logoText {
    font-weight: 350 !important;
    margin-top: 15px;
}

.formHeader {
    text-align: center;
    font-weight: 400 !important;
}

.button {
    background-color: var(--primary-blue) !important;
    width: 200px;
    border-radius: 180px !important;
    margin-top: 0;
}

.input {
    height: 50px;
}

.input:focus {
    border-color: var(--border-color) !important;
    box-shadow: none !important;
}

.backgroundImage {
    height: 70vh;
    border-radius: 0 0 0 90px;
    background-image: url(/public/images/login-bg-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.forgetPassword {
    font-size: 12px;
    color: var(--primary-blue);
    font-weight: 500;
}

.errorInputfield {
    border: 1px solid var(--red) !important;
}

.errorLabel{
    color: var(--red);
}

.passwordWrapper{
    position: relative;
}
.hidePassword{
   position: absolute;
   right: 10px;
   margin-top: 25px;
   transform: translateY(-50%);
}
.logo{
    margin-bottom: 25px;
}
@media screen and (max-width: 440px) {
    .wrapper{
        background-color: var(--white);
    }

    .backgroundImage {
        height: 40vh;
    }

    .form {
        box-shadow: none;
    }

    .loginContent {
        margin-top: 0;
        width: 100%;
        margin-inline: 0;
        transform: none;
    }

    .logo {
        height: 40vh;
        padding-inline: auto;
        padding-top: 17vh;
        margin-bottom: 0;
    }

    .button {
        width: 100%;
        margin-top: 50px;
    }

    .formHeader {
        text-align: left;
    }
    
    .forgetPassword{
        font-size: 14px;
    }
}